
.project
sysProps.xml
.cproject

.settings/language.settings.xml

.settings/org.eclipse.cdt.managedbuilder.core.prefs

Debug/

build.xml
build.properties
CMakeLists.txt

#compiled object files
*.slo
*.lo
*.o

#compiled Dynamic libs
*.so
*.dylib

#compiled static libraries
*.lsi
*.la
*.a

.metadata
.metadata/*

# for mac finder assist file
.DS_store

# For emacs auto-save files
*~
*.xml
.idea
src/.idea
.settings


*.iml
.idea/
.settings/
.gitattributes



.build/FRCUserProgram

.build/arm.cmake

.build/cmake_install.cmake

.build/CMakeCache.txt

.build/make.settings

.build/Makefile

.build/robot.cmake

batch/.compiler-download.bat

batch/.get-ctre.bat

batch/.wpilib-download.bat

batch/build.bat

batch/deploy.bat

binaries/README.txt

binaries/unzip.exe

binaries/wget.exe

binaries/wget64.exe

Makefile

Makefile.win

README.md

script/.compiler-download.sh

script/.get-ctre.sh

script/.wpilib-download.sh

script/build.sh

script/deploy.sh

TEAM_NAME
